/*!
 * Custom CSS
 */
.drag {
	-webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
body {
	font-size: 100%;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.keyData { font-style: normal; font-family: "Courier New"; margin: 0 2px; padding: 0px 5px; border: 1px solid #EAEAEA; 
  background-color: #F8F8F8; border-radius: 3px;}
.plainData { font-style: normal; font-family: "Courier New"; }
.dataEntry { font-style: normal; font-family: "Courier New"; }
.control-label { color: #B40404;}
.toolbarImage{
	height:18px; width:18px; vertical-align:top; margin-right: 5px;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
#footer {
 clear: both;
 position: relative;
 z-index: 10;
 margin-top: -3em;
}
#giftSign {
	display: none;
	margin-top: 	  -60px;
	width:            400px;
	height:           75px;
	background-image: '';
}
#content { padding-bottom: 3em; }
#appSections { margin-left: 20px; margin-right: 20px; }
.appSection { display: none; padding: 20px; }
#dropDownMenu { display: none; }
@media only screen and (max-width: 1050px) {
	#searchWhat, #extraTopSpaces {
		display: none;
	}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		padding: 0px;
	}
	#dataTitle {
		margin-left: -20px;
	}
}
@media only screen and (max-width: 780px) {
	#appSections {
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media only screen and (max-width: 800px) {
	#homeMenuName, #dataItemMenuName, #newItemMenuName, #editItemMenuName, #settingsMenuName {
		display: none;
	}
	#appNameLink, #copyright2Line {
		display: none;
	}
}
@media only screen and (max-width: 625px) {
	#externalLinks {
		display: none;
	}
	#dropDownMenu {
		display: block;
	}
	#settingsMenuDivider, #settingsMenu, #searchMenu, #printMenu, #logoutMenu {
		display: none;
	}
	#settingsMenuDivider2, #editItemMenu2, #dataItemMenu2, #homeMenu2 {
		display: none;
	}
	#settingsMenu2, #searchMenu2, #printMenu2, #logoutMenu2 {
		display: block;
	}
}
@media only screen and (max-width: 450px) {
	#newItemMenu, #editItemMenu {
		display: none;
	}
	#settingsMenuDivider2, #editItemMenu2 {
		display: block;
	}
}
@media only screen and (max-width: 415px) {
	#dataItemMenu {
		display: none;
	}
	#dataItemMenu2 {
		display: block;
	}
}
@media only screen and (max-width: 365px) {
	#homeMenu {
		display: none;
	}
	#homeMenu2 {
		display: block;
	}
}
@media only screen and (max-width: 300px) {
	#dataTitle {
		display: none;
	}
}
* {
  -webkit-border-radius: 0 !important;
	 -moz-border-radius: 0 !important;
		  border-radius: 0 !important;
}